{$CADDY_SITE_ADDRESS} {
	@internal path /internal /internal/*
	handle @internal {
		respond 404
	}
	@monitoring path /monitoring /monitoring/*
	handle @monitoring {
		reverse_proxy grafana:3000
	}
	@admin_assets path /admin-assets/*
	handle @admin_assets {
		uri replace /admin-assets/ /assets/
		reverse_proxy admin:4000
	}
	@admin path /admin /admin/*
	handle @admin {
		reverse_proxy admin:4000
	}
	handle {
		reverse_proxy app:4000
	}
}
